*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    height: 8vh;
    width: 100%;
    background-color: #3161E0;
    position: fixed;
    top: 0;
    left: 0;
}
nav{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    line-height: 8vh;

}
nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
nav ul li{
    margin: 0 25px;
}
.logo img{
    vertical-align: middle;
    width: 150px;
}
.logo{
    float: left;
}
.button{
    float: right;
}